In [1]:
import os

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import plotly.express as px

from sklearn import preprocessing
from sklearn.cluster import KMeans

In [2]:
# Get PATH folder from previous directorys
def get_path(prev_folders:int=0):
    for i in range(prev_folders-1): os.chdir('../')  # Change to previous folder
    PATH = os.path.dirname(os.getcwd()) + '/'
    PATH = PATH.replace('\\', '/')
    return PATH

# Environment settings

In [3]:
pd.options.display.max_columns = None  # Remove "dots" from display when printing dataframes
PATH = get_path(prev_folders=2)

Adjunto encontrara el archivo “202306_Prueba_CD_prob_acuaticos.parquet”. En este documento se presenta información de trabajadores (afiliado cotizante) y beneficiarios de la caja de compensación familiar Compensar con la siguiente información:
- Id (identificación)
- fuente (indica si el registro corresponde a un trabajador (afiliado) o un beneficiario)
- parentesco_beneficiario (indica la relación que tiene el beneficiario con el trabajador cotizante)
- PeriodoVinculación (fecha de vinculación a la caja)
- genero
- nivel_socioeconomico
- Categoria
- descripcion_familia (tipo de familia)
- edad
- Educación (indica si la persona ha tomado servicios de educación)
- Recreación (indica si la persona ha tomado servicios de recreación)
- Acondicionamiento Físico (indica si la persona ha tomado servicios de acondicionamiento físico)
- Motricidad (indica si la persona ha tomado servicios de motricidad)
- Deportes Terrestres (indica si la persona ha tomado servicios de deportes terrestres)
- Recompra (indica si la persona ha tomado servicios de deportes acuáticos en años anteriores)
- Objetivo (indica si la persona ha tomado servicios de deportes acuáticos en el último año)

# Read data

In [4]:
df = pd.read_parquet(PATH + 'data/202306_Prueba_CD_prob_acuaticos.parquet')

# Preprocesing

In [5]:
df = df.rename({
    'PeriodoVinculación':'periodo_vinculacion',
    'Categoria':'categoria',
    'Educación':'educacion',
    'Recreación':'recreacion',
    'Acondicionamiento Físico':'acondicionamiento_fisico',
    'Motricidad':'motricidad',
    'Deportes Terrestres':'deportes_terrestres',
    'Recompra':'recompra',
    'Objetivo':'objetivo'
    }, axis=1
    )

df['parentesco_beneficiario'] = df['parentesco_beneficiario'].fillna('Ninguno')
df['periodo_vinculacion'] = pd.to_datetime(df['periodo_vinculacion'], format='%Y-%m-%d')

# Descriptive analysis

a. Realice un análisis descriptivo de la información presentada.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1000 non-null   int32
 1   fuente                    1000 non-null   object
 2   parentesco_beneficiario   1000 non-null   object
 3   periodo_vinculacion       1000 non-null   datetime64[ns]
 4   genero                    1000 non-null   object
 5   nivel_socioeconomico      1000 non-null   int32
 6   categoria                 1000 non-null   object
 7   descripcion_familia       787 non-null    object
 8   edad                      1000 non-null   int32
 9   educacion                 1000 non-null   object
 10  recreacion                1000 non-null   int32
 11  acondicionamiento_fisico  1000 non-null   int32
 12  motricidad                1000 non-null   int32
 13  deportes_terrestres       1000 non-null   int32
 14  recompra                  1000 non-null   int32
 15  objetivo                  1000 non-null   int32
dtypes: datetime64[ns](1), int32(9), object(6)
memory usage: 90.0+ KB

In [7]:
df.describe()

,id,nivel_socioeconomico,edad,recreacion,acondicionamiento_fisico,motricidad,deportes_terrestres,recompra,objetivo
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,5.095164e+06,1.782000,32.567000,0.027000,0.026000,0.01200,0.036000,0.091000,0.10000
std,2.924070e+06,1.728428,19.367979,0.162164,0.159215,0.10894,0.186383,0.287753,0.30015
min,1.154190e+05,-1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
25%,2.439276e+06,0.000000,17.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
50%,5.137560e+06,2.000000,30.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
75%,7.717380e+06,3.000000,45.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
max,9.994874e+06,6.000000,101.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000

In [8]:
df.isnull().sum()

id                            0
fuente                        0
parentesco_beneficiario       0
periodo_vinculacion           0
genero                        0
nivel_socioeconomico          0
categoria                     0
descripcion_familia         213
edad                          0
educacion                     0
recreacion                    0
acondicionamiento_fisico      0
motricidad                    0
deportes_terrestres           0
recompra                      0
objetivo                      0
dtype: int64

In [9]:
df.sample(n=15).head(15)

,id,fuente,parentesco_beneficiario,periodo_vinculacion,genero,nivel_socioeconomico,categoria,descripcion_familia,edad,educacion,recreacion,acondicionamiento_fisico,motricidad,deportes_terrestres,recompra,objetivo
325,3293377,Beneficiario,Hijos,2019-04-01,Masculino,5,A,MonoParental,22,NO,0,0,0,0,0,0
858,2247803,Afiliado,Ninguno,2023-02-08,Femenino,3,A,None,25,NO,0,0,0,0,0,0
847,3238276,Afiliado,Ninguno,2022-05-10,Femenino,3,A,Unipersonal,31,NO,0,0,0,0,0,0
704,5290572,Afiliado,Ninguno,2023-04-01,Femenino,4,C,None,48,NO,0,0,0,0,0,0
380,2044722,Afiliado,Ninguno,2022-01-03,Femenino,0,A,Extensas,39,NO,0,0,0,1,0,0
745,9070878,Beneficiario,Hijos,2022-01-17,Masculino,0,B,Extensas,3,NO,1,0,0,0,0,0
519,5214880,Afiliado,Ninguno,2023-01-26,Masculino,2,A,None,35,NO,0,0,0,0,0,0
93,9547560,Afiliado,Ninguno,2023-03-15,Masculino,4,A,None,45,NO,0,0,0,0,0,0
827,2690422,Beneficiario,Hijos,2021-02-01,Masculino,4,A,MonoParental,17,NO,0,0,0,0,0,0
21,9572454,Afiliado,Ninguno,2021-09-25,Masculino,0,A,Extensas,35,NO,0,0,0,0,0,0
834,2205060,Beneficiario,Hijos,2022-09-14,Femenino,2,A,None,19,NO,0,0,0,0,0,0
989,2331667,Beneficiario,Hijos,2020-01-01,Femenino,2,A,Nucleares,13,NO,1,0,0,0,1,1
91,4134881,Beneficiario,Hijos,2014-12-19,Femenino,2,A,MonoParental,4,NO,0,0,0,0,0,0
718,1302262,Beneficiario,Cónyuge,2022-05-03,Femenino,4,C,Nucleares,44,NO,0,0,0,0,1,0
663,4292848,Afiliado,Ninguno,2023-02-24,Masculino,0,A,None,32,NO,0,0,0,0,0,0

# Identification model for water sports

b. Desarrolle un modelo que permita identificar clientes potenciales para adquirir servicios de deportes acuáticos.

## Imputation Hot-Deck (variation)

In [10]:
label_encoder = preprocessing.LabelEncoder()

df['ENC_fuente'] = label_encoder.fit_transform(df['fuente'])
df['ENC_parentesco_beneficiario'] = label_encoder.fit_transform(df['parentesco_beneficiario'])
df['ENC_categoria'] = label_encoder.fit_transform(df['categoria'])

In [11]:
X = df[[
    'ENC_fuente', 'ENC_parentesco_beneficiario',
    'nivel_socioeconomico',
    'ENC_categoria'
    ]].values  # Variables related to the category to be predicted

# Clustering
kmeans_model = KMeans(n_clusters=4)
kmeans_model = kmeans_model.fit(X)
labels = kmeans_model.predict(X)
centroids = kmeans_model.cluster_centers_  # centroids values

for i in range(0, len(df)):
    role, relation, socio_lev, category = df.loc[i, [
        'ENC_fuente', 'ENC_parentesco_beneficiario',
        'nivel_socioeconomico', 'ENC_categoria'
        ]] # variables as an array
    X_new = np.array([[role, relation, socio_lev, category]])
    new_label = kmeans_model.predict(X_new)
    df.at[i, 'PRED_descripcion_familia'] = new_label

c:\Users\almontao\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\almontao\AppData\Local\Programs\Python\Python39\lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\almontao\AppData\Local\Programs\Python\Python39\lib\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

# Models

## Ordinary Least Squares regression (OLS)

In [12]:
regresion = smf.ols('objetivo ~ fuente + parentesco_beneficiario + genero + nivel_socioeconomico + categoria + descripcion_familia + recreacion + acondicionamiento_fisico + motricidad + recompra',
              data=df
              )
results = regresion.fit()

# print(res.rsquared)
# print(res.params)
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               objetivo   R-squared:                       0.507
Model:                            OLS   Adj. R-squared:                  0.495
Method:                 Least Squares   F-statistic:                     43.81
Date:                Sun, 29 Oct 2023   Prob (F-statistic):          8.76e-105
Time:                        15:27:55   Log-Likelihood:                 26.570
No. Observations:                 787   AIC:                            -15.14
Df Residuals:                     768   BIC:                             73.56
Df Model:                          18
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Intercept                                    0.0522      0.022      2.379      0.018       0.009       0.095
fuente[T.Beneficiario]                       0.1218      0.021      5.848      0.000       0.081       0.163
parentesco_beneficiario[T.Hermanos]          0.2740      0.082      3.341      0.001       0.113       0.435
parentesco_beneficiario[T.Hijos]            -0.0799      0.030     -2.656      0.008      -0.139      -0.021
parentesco_beneficiario[T.Ninguno]          -0.0696      0.015     -4.528      0.000      -0.100      -0.039
parentesco_beneficiario[T.Padres]           -0.0917      0.039     -2.325      0.020      -0.169      -0.014
genero[T.Femenino       ]                   -0.0208      0.034     -0.615      0.539      -0.087       0.046
genero[T.Masculino]                         -0.0425      0.041     -1.043      0.297      -0.122       0.037
genero[T.Masculino      ]                    0.0147      0.034      0.437      0.663      -0.051       0.081
categoria[T.B]                              -0.0310      0.024     -1.303      0.193      -0.078       0.016
categoria[T.C]                              -0.1015      0.029     -3.505      0.000      -0.158      -0.045
descripcion_familia[T.MonoParental]         -0.0233      0.031     -0.757      0.449      -0.084       0.037
descripcion_familia[T.Nucleares]             0.0200      0.028      0.713      0.476      -0.035       0.075
descripcion_familia[T.Parejas sin hijos]     0.0601      0.055      1.100      0.272      -0.047       0.167
descripcion_familia[T.Unipersonal]          -0.0155      0.033     -0.467      0.641      -0.081       0.050
nivel_socioeconomico                         0.0106      0.005      2.040      0.042       0.000       0.021
recreacion                                   0.4906      0.050      9.792      0.000       0.392       0.589
acondicionamiento_fisico                     0.2616      0.055      4.765      0.000       0.154       0.369
motricidad                                   0.4828      0.074      6.555      0.000       0.338       0.627
recompra                                     0.3735      0.029     12.977      0.000       0.317       0.430
==============================================================================
Omnibus:                      252.840   Durbin-Watson:                   0.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1077.307
Skew:                           1.437   Prob(JB):                    1.16e-234
Kurtosis:                       7.959   Cond. No.                     1.95e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.61e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

##